<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td>Introduction</td> </tr>
      <tr> <td>03:27</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/setup.html">OpenRefine Setup</a></td></tr>
      <tr> <td>07:40</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/01-introduction/index.html">Introduction to OpenRefine</a></td></tr>
      <tr> <td>09:51</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/02-importing-data/index.html">Importing Data to OpenRefine</a></td></tr>
      <tr> <td>12:13</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/03-working-with-data/index.html">Layout of OpenRefine</a></td></tr>
      <tr> <td>16:33</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/04-faceting-and-filtering/index.html">Facets</a></td></tr>
      <tr> <td>20:52</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/07-introduction-to-transformations/index.html">Introduction to Transformations</a></td></tr>
      <tr> <td>22:35</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/08-writing-transformations/index.html">Writing Transformations</a></td></tr>
      <tr> <td>27:10</td>  <td>Exporting your work and Goodbye</td></tr>
      <tr> <td>28:36</td>  <td>END</td></tr>
    </table>
  </div>
</div>
